*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.eduction-container {
    background:linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 40px 20px;
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}
@keyframes color {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
.heigh-school{
    background-color: rgba(51, 44, 185, 0.262);
    width: 100%;
    max-width: 700px;
    min-height: 200px;
    padding: 20px;
    border: 2px solid gold;
    box-shadow: 5px 5px 10px green;
    border-radius: 12px;
}

.psn {
    font-size: 22px;
    font-family: cursive;
    color: orangered;
}
h1{
    color: white;
}
@media (max-width: 768px) {
    .psn {
        font-size: 20px;
    }

    h1 {
        font-size: 26px;
    }
}

/* Mobile */
@media (max-width: 480px) {
    .education-container {
        gap: 30px;
        padding: 25px 10px;
    }

    .psn {
        font-size: 18px;
    }

    h1 {
        font-size: 22px;
    }
}

