*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.logo{
    font-size: 25px;
    color: white;
}
span{
    color: orangered;
}
nav{
    height: 80px;
    width: 100%;
    display: flex;
     background:linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
    align-items: center;
    gap: 400px;
    padding: 0px 50px;
    position: fixed;
    z-index: 10;
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}
@keyframes color {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
    
.menu{
   display: flex;
   gap: 80px;

   a{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s linear;
    &:hover{
        color: orange;
        text-decoration: underline;
    }
    &.active{
  color: orangered;
  text-decoration: underline;
}
   }
}

@media (max-width: 1024px) {
    nav{
        gap: 100px;
       
    }

    .menu{
        gap: 40px;
    }
}
  /* .menu a{
        font-size: 20px;
    }

    .logo{
        font-size: 15px;
    } */


@media (max-width: 820px) {
    nav{
        gap: 0;
        justify-content: space-between;
        padding: 0 20px;
    }

    .menu{
        gap: 25px;
    }

    .menu a{
        font-size: 15px;
    }

    .logo{
        font-size: 5px;
         h1{
         font-size: 8px;
         background-color: orange;
         padding: 8px 8px;
         border-radius: 10px;
         box-shadow: 2px 2px 10px orangered;
       }
    }
}

@media (max-width: 480px) {
    nav{
        padding: 0 15px;
    }

    .menu{
        gap: 10px;
    }

    .menu a{
        font-size: 10px;
    }
    .logo{
       h1{
         font-size: 5px;
         background-color: orange;
         padding: 10px 6px;
         border-radius: 10px;
         box-shadow: 2px 2px 10px orangered;
       }
    }
}