* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}


.skills-container {
    background: linear-gradient(45deg, #d2001a, #7462ff, #f48e21, #23d5ab);
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 120px 40px;
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}

@keyframes color {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}


.skills-box {
   background: linear-gradient(45deg,orange,skyblue);
    color: white;
    width: 250px;
    max-width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    border: 1px solid gold;
    box-shadow: 5px 5px 15px black;
    border-radius: 12px;
}

.skills-box img {
    height: 80px;
}


@media (max-width: 992px) {
    .skills-container {
        padding: 100px 30px;
        gap: 40px;
    }

    .skills-box {
        width: 220px;
        height: 190px;
    }
}


@media (max-width: 576px) {
    .skills-container {
        gap: 30px;
    }

    .skills-box {
        width: 100%;
        max-width: 200px;
        height: auto;
        padding: 25px 0;
    }

    .skills-box img {
        height: 65px;
    }
}
